.card {
    height: 500px;
    width: 250px;
    border: 3px solid white;
    padding: 20px;
    overflow: hidden;
    margin: 10px;
    background-color: rgb(143, 67, 236);
  }
  .card img{
      width: 100%;
  }
  .game__cont {
    width: 100%;
    background-color: rgb(205, 144, 236);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .like{
    display:flex
  }